* {
    padding: 0px;
    margin: 0px;
    border: 0;
    box-sizing: border-box;
}

/* Fonts */

h2, h1, p, button {
    font-family: 'Poppins', sans-serif;
}

body {
    /* font-size: 1.6rem; */
    background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%) no-repeat;
    color: #F9F9F9;
    height: 100vh;
}

main {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.icones img{
    margin-left: 15px;
}

.foto-kaonashi img {
    display: none;
}

.kaonashi-mobile {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.kaonashi-mobile img {
    max-width: 300px;
    max-height: 221px;
}

h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}

h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 56px;
    line-height: 109%;
    margin-bottom: 16px;
}

p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 58px;
}

a {
    text-decoration: none;
}

#assistir-agora {
    width: 225px;
    height: 45px;
    background-color: #658E76;
    color: #F9F9F9;
    border-radius: 50px 15px;
    padding: 0.6rem;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: skew(-20deg);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    gap: 10px;
    text-transform: uppercase;
}

#assista-o-trailer {
    display: none;
}

Animação dos botões
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px green inset;
  }

/* Responsividade Desktop */
@media (min-width: 1000px) {

    body {
        display: flex;
        justify-content: center;
    }
    
    main {
        width: 1200px;
    }

    h2 {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
    }

    h1 {
        font-family: 'Poppins';
        font-weight: 900;
        font-size: 68px;
        line-height: 109%;
        width: 445px;
    }

    p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        width: 445px;
        
    }

    .kaonashi-mobile img {
        display: none;
    }

    .texto-imagem {
        display: flex;
        align-items: center;
        margin-top: 100px;
        height: 300px;
    }

    .botões {
        display: flex;
        gap: 20px;
    }

    .foto-kaonashi {
        order: 1;
        height: 500px;
        margin-left: 15%;
    }

    .foto-kaonashi img {
        display: inline;
    }

    #assista-o-trailer {
        display: inline;
        width: 225px;
        height: 45px;
        border: 2px solid #658E76;
        background-color: #375d67;
        color: #F9F9F9;
        border-radius: 50px 15px;
        padding: 0.6rem;
        border-radius: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transform: skew(-20deg);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        gap: 10px;
        text-transform: uppercase;
    }
}


